# Grid searching parameters

https://machinelearningmastery.com/grid-search-arima-hyperparameters-with-python/

In [54]:
import pandas as pd
from pandas import read_csv
import numpy as np
from datetime import datetime
from pandas import Series
from statsmodels.tsa.arima_model import ARIMA
from sklearn.metrics import mean_squared_error
import warnings
warnings.filterwarnings("ignore")

In [17]:
dateparse = lambda dates: pd.datetime.strptime(dates, '%Y-%m')
data = pd.read_csv('AirPassengers.csv', parse_dates=['Month'], index_col='Month',date_parser=dateparse)
data.head()

            #Passengers
Month
1949-01-01          112
1949-02-01          118
1949-03-01          132
1949-04-01          129
1949-05-01          121

In [ ]:
series = Series.from_csv('female.csv', header=0)

In [47]:
def evaluate_arima_model(X, arima_order):
    # prepare training dataset
    train_size = int(len(X) * 0.6)
    train, test = X[0:train_size], X[train_size:]
    # make predictions
    predictions = list()
    for t in range(len(test)):
        model = ARIMA(train, order=arima_order)
        model_fit = model.fit(disp=0)
        yhat = model_fit.forecast()[0]
        predictions.append(yhat)
        history.append(test[t])
    # calculate out of sample error
    error = mean_squared_error(test, predictions)
    return error

In [48]:
def evaluate_models(dataset, p_values, d_values, q_values):
    best_score, best_cfg = float("inf"), None
    for p in p_values:
        for d in d_values:
            for q in q_values:
                order = (p,d,q)
                try:
                    mse = evaluate_arima_model(dataset, order)
                    if mse < best_score:
                        best_score, best_cfg = mse, order
                    print('ARIMA%s MSE=%.3f' % (order,mse))
                except:
                    continue
    
    print('Best ARIMA%s MSE=%.3f' % (best_cfg, best_score))

In [ ]:
p_values = [0, 1, 2, 4, 6, 8, 10]
d_values = range(0, 3)
q_values = range(0, 3)
warnings.filterwarnings("ignore")
evaluate_models(series, p_values, d_values, q_values)

ARIMA(0, 0, 1) MSE=25133.501
ARIMA(0, 0, 2) MSE=25134.743
ARIMA(0, 2, 1) MSE=25373.931
ARIMA(1, 0, 0) MSE=25134.076
ARIMA(1, 0, 1) MSE=25130.871
ARIMA(1, 1, 0) MSE=25152.276
ARIMA(1, 1, 1) MSE=25082.364
ARIMA(1, 2, 0) MSE=26410.756
ARIMA(2, 0, 0) MSE=25129.512
ARIMA(2, 0, 1) MSE=25166.351
ARIMA(2, 0, 2) MSE=25166.598
ARIMA(2, 1, 0) MSE=24944.143
ARIMA(2, 1, 1) MSE=25080.179
ARIMA(2, 1, 2) MSE=25089.076
ARIMA(2, 2, 0) MSE=25440.994
ARIMA(4, 0, 0) MSE=25175.662
ARIMA(4, 0, 1) MSE=25175.730
ARIMA(4, 0, 2) MSE=25191.390
ARIMA(4, 1, 0) MSE=24999.991
ARIMA(4, 1, 1) MSE=25123.560
ARIMA(4, 1, 2) MSE=25123.255
ARIMA(4, 2, 0) MSE=25037.831
ARIMA(6, 0, 0) MSE=25175.147
ARIMA(6, 0, 1) MSE=25174.439
ARIMA(6, 0, 2) MSE=25098.459
ARIMA(6, 1, 0) MSE=24980.744
ARIMA(6, 1, 1) MSE=25122.230
ARIMA(6, 1, 2) MSE=25121.217
ARIMA(6, 2, 0) MSE=25050.394
ARIMA(8, 0, 0) MSE=25130.959
ARIMA(8, 0, 1) MSE=25129.310
ARIMA(8, 0, 2) MSE=25134.888
ARIMA(8, 1, 0) MSE=25017.830
ARIMA(8, 1, 1) MSE=25086.290
ARIMA(8, 1, 2) MSE=25084.694
ARIMA(8, 2, 0) MSE=24991.834

In [ ]:
ARIMA(2, 1, 0) MSE=24944.143