# Simple Exponential Smoothing

In [2]:
import pandas as pd

Define a dataframe with the forecasts that can be used to demonstrate exponential smoothing

In [25]:
col_names =  ['Day', 'Value']
data  = pd.DataFrame(columns = col_names)

data['Day'] = [1,2,3,4,5]
data['Value'] = [39,44,40,45,38]
data

   Day  Value
0    1     39
1    2     44
2    3     40
3    4     45
4    5     38

**Formula for exponential Smoothing **

Ft+1 = α St + ( 1 - α ) Ft

- Let t be the time(here Day) 
- Let Ft be the forecast at time t
- Let St be the Sales at time t 

Let us take the α value to be 0.2

We take the forecast for the first day sales value as NA and apply the formula from the second day

In [53]:
α = 0.2
ft = 0
forecast = []
for i in range(0,len(data)):
    if(ft == 0):
        forecast.append("NA")
        ft = data['Value'][i]
        forecast.append(ft)
    else:
        ft = 0.2*(data['Value'][i]) + 0.8*(ft)
        forecast.append(ft)

Remove the last element as it is the forecast for day 6

In [59]:
forecast_without_prediction =  forecast[:-1]
data['Forecast'] = forecast_without_prediction

In [62]:
data

   Day  Value Forecast
0    1     39       NA
1    2     44       39
2    3     40       40
3    4     45       40
4    5     38       41

In [65]:
print("SALES FORECAST FOR DAY 6 IS:",forecast_without_prediction[-1])

SALES FORECAST FOR DAY 6 IS: 41.0

But this forecast is not accurate, there is obviously some error

In [77]:
error = []
error_sq = []
error.append('NA')
error_sq.append('NA')
for i in range(1,len(data)):
    e = data['Value'][i] - data['Forecast'][i]
    error.append(e)
    error_sq.append(e*e)
data['Error'] = error
data['Error_Square'] = error_sq

In [78]:
data

   Day  Value Forecast Error Error_Square
0    1     39       NA    NA           NA
1    2     44       39     5           25
2    3     40       40     0            0
3    4     45       40     5           25
4    5     38       41    -3            9

### Mean square error

In [86]:
sum(data['Error_Square'][1:])/len(data)

11.8

 ### Let us iteratively take different α values and choose the one with the lowest MSE